@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;700;800&display=swap');
//font podstawowy
$font-base: 'Open Sans', sans-serif;
//dodatkowy font
$font-alt: 'Merriweather', serif;
//rozmiar dla tytułów wiadomości
$font-size-title: 38px;
//rozmiar np w menu załączników
$font-size-logos: 18px;

