.header {
  max-height: 100px;
}

.header__ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: $color-words;
}

.header__logreg a {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  padding: 0 5px;

  &:hover {
    border: 1px solid $color-important;
    padding: 5px;
  }
}

.header__menu {
  font-size: 18px;
  padding: 0 8px;

  &:hover {
    border: 1px solid $color-words;
  }
}

.home__hero {
  display: flex;
}

.hero__img {
  margin: 0;
  width: 50%;
  height: 30em;
  border-radius: 8px;
}

.hero__title {
  font-size: 38px;
  color: $color-words;
  padding: 3em 0 1.5em 0;
  text-align: center;
  position: absolute;
  background-image:  url("./../../assets/Decoration.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.hero__list{
  padding: 9em 1em 0 1em;
  display: flex;
  list-style: none;
  font-size: 36px;
  text-align: center;

}
.hero__link{
  text-align: center;
  text-decoration: none;
  //border: 1px solid $color-words;
  color: $color-words;
  opacity: 1;
}
.threeCol{
  max-height: 384px;
  background-image: url("./../../assets/3 Columns Background.png");
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.threeCol__column{
  max-width: 334px;
}
.threeCol__title{
  margin: 0;
  padding: 0.5em 0 0.1em;
  font-size: 90px;
}
.threeCol__subtitle{
  font-size: 18px;
}
.threeCol__text{
  font-size: 16px;
  margin-bottom: 86px;
}
