.login {
  text-align: center;
  display: block;
}

.login__main {
  background-color: $color-background-section;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  padding: 1em;
}

.login__el {
  border: none;
  border-bottom: 2px solid $color-words;
}

.login__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2em;
  border-radius: 5px;

  .login__logreg {
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 150px;
    height: 50px;
    color: $color-words;
    border: 1px solid $color-words;
    border-radius: 5px;
    margin: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 1em;
      list-style: none;
      text-decoration: none;
    }
  }
}

.register {
  display: block;
  text-align: center;
}

.register__main {
  background-color: $color-background-section;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
}